.container {
  @apply flex flex-col;
  @apply mx-auto;
  font-family: "Inconsolata";
}

.title {
  @apply mx-auto p-2;
  @apply text-center text-base font-light;
}

.entry {
  @apply w-full;
  @apply transition-colors;
  @apply flex flex-grow flex-row;
  @apply content-center justify-center place-content-stretch;
  @apply pr-1;
}

.left {
  @apply flex flex-col content-end justify-center;
  @apply w-1/2 pr-3;
  @apply font-semibold text-lg text-right;
  @apply lg:pr-4;
  @apply lg:text-4xl;
  @apply xl:pr-7;
  @apply xl:text-5xl;
}

.right {
  @apply flex flex-col;
  @apply content-center justify-center;
  @apply w-1/2 pl-3;
  @apply lg:pl-4;
  @apply xl:pl-7;
}

.name {
  @apply lg:py-2;
}

.nameInner {
  @apply px-2;
  @apply lg:px-4;
  @apply bg-zinc-800/30;
}

.timer {
  @apply text-lg;
  @apply lg:py-2;
  @apply lg:text-4xl;
  @apply xl:text-5xl;
}

.due {
  @apply text-base italic font-light;
  @apply lg:text-2xl;
  @apply xl:text-3xl;
}

.relativeTime {
  @apply text-base font-bold;
  @apply lg:text-2xl;
  @apply xl:text-3xl;
}

.main {
  @apply flex flex-col content-center justify-center;
  min-height: 100vh;
  align-items: center;
}
